@model Poker.Models.GameModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Texas Hold'em</title>
    <meta name="Description" content="Your website description goes here.">
    <meta name="KeyWords" content="keyword1, keyword2, keyword3">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Acme|Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/css/ion.rangeSlider.css" />
    <link rel="stylesheet" href="~/Content/css/my.rangeSlider.skinFlat.css" />
</head>
    <body>
        <table align="center" border="0" cellpadding="0" cellspacing="0" width="1000">
            <tbody>
                <tr>
                    <td valign="top" width="1000">
                        <table border="0" cellpadding="0" cellspacing="0" width="1000">
                            <tbody>
                                <tr>
                                    <td valign="top" width="1000">
                                        <table style="margin-bottom:10px;" align="center" border="0" cellpadding="0" cellspacing="0" width="860">
                                            <tbody>
                                                <tr valign="top">
                                                    <td width="35%;">
                                                        <img style="margin-top:10px; height:50px;" src="~/Content/images/logo.png">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background-repeat:repeat-x;" background="~/Content/images/pokr_rom_btm_bg.jpg" height="20px" valign="top" width="1000">&nbsp;</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="poker-container">
                            <tbody class="bottom-body">
                                <tr>
                                    <td>
                                        <canvas style="width:100%; outline:none;" touch-action="none" id="renderCanvas" width="801" height="568" tabindex="1" >
                                            
                                        </canvas>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div id="slider" style="height:50px; width:45%; float:right;" class="range-slider">
                                            <input type="text" class="js-range-slider" value="" />
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="chat-container">
                            <tbody>
                                <tr style="vertical-align:top; height:60px;">
                                    <td>
                                        <button id="raise" class="poker-buttons">Raise</button>
                                        <button class="poker-buttons">Call</button>
                                        <button class="poker-buttons">Fold</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="chat-log" style="font-size:medium;">
                                        <table style="width:100%;">
                                            <tr>
                                                <td class="chat-log-head">
                                                    <i class="material-icons" style="float:left; color:#1095ab; text-shadow:0 0 2px #1095ab;">chat</i>
                                                    <input type="text" class="chat-input" placeholder="Chat here...">
                                                    <button class="send-button">SEND</button>
                                                </td>
                                            </tr>
                                        </table>
                                        <table style="width:100%;" class="chat-table">
                                            <tbody>
                                                <tr style="margin-bottom:5px;">
                                                    <td>
                                                        <b style="text-shadow: 0 0 5px #1095ab;">Aca: </b>A red flair silhouetted the jagged edge of a wing.A red flair silhouetted the jagged edge of a wing.
                                                    </td>
                                                </tr>
                                                <tr style="margin-bottom:5px;">
                                                    <td>
                                                        <b style="text-shadow: 0 0 5px #1095ab; color:#ff7979;">Me: </b>The recorded voice scratched in the speaker.
                                                    </td>
                                                </tr>
                                                <tr style="margin-bottom:5px;">
                                                    <td>
                                                        <b style="text-shadow: 0 0 5px #1095ab;">Bane: </b>A red flair silhouetted the jagged edge of a wing.A red flair silhouetted the jagged edge of a wing.A red flair silhouetted the jagged edge of a wing.A red flair silhouetted the jagged edge of a wing.
                                                    </td>
                                                </tr>
                                                <tr style="margin-bottom:5px;">
                                                    <td>
                                                        <b style="text-shadow: 0 0 5px #1095ab; color:#ff7979;">Me: </b>The recorded voice scratched in the speaker.
                                                    </td>
                                                </tr>
                                                <tr style="margin-bottom:5px;">
                                                    <td>
                                                        <b style="text-shadow: 0 0 5px #1095ab;">Aca: </b>A red flair silhouetted the jagged edge of a wing.A red flair silhouetted the jagged edge of a wing.
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td class="chat-log hand-log"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <script src="~/Scripts/babylon.custom.js"></script>
        <script src="~/Content/js/jquery-1.12.3.min.js"></script>
        <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
        <script src="~/signalr/hubs" type="text/javascript"></script>
        <script src="~/Scripts/Variables.js"></script>
        <script src="~/Scripts/PlayingCards.js"></script>
        <script src="~/Scripts/Table.js"></script>
        <script src="~/Scripts/TablePrimitive.js"></script>
        <script src="~/Scripts/chips.js"></script>
        <script src="~/Scripts/game.js"></script>
        <script src="~/Scripts/mySlider.js"></script>

        <script>

    var $range = $(".js-range-slider"),
    min = 1000,
    max = 5500,
    step = 50,
    from = 1000,
    disable = true;

$range.ionRangeSlider({
    type: "single",
    min: min,
    max: max,
    step: step,
    from: from,
    disable : disable,
    onFinish: function (data) {
        from = data.from;
    }
});

document.getElementById("raise").onclick = function () {
    disable = false;
 
    range_instance.update({
        disable: disable
    });
};

var range_instance = $range.data("ionRangeSlider");

var updateRange = function (direction) {
    from += step * direction;
    if (from < min) {
        from = min;
    } else if (from > max) {
        from = max;
    }

    if (!disable)
    {
        document.getElementById("raise").innerHTML = "Confirm " + from;
    }

    range_instance.update({
        from: from
    });
};
            </script>
        <script src="~/Scripts/clientServer/communication.js"></script>
        <script>
            start(@Html.Raw(Json.Encode(Model)));
        </script>
    </body>
</html>