@model Poker.Models.LogInModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SVIPUL</title>
    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Content/logIn/bootstrap.min.css">
    <link rel="stylesheet" href="~/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/logIn/form-elements.css">
    <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/logIn/style.css">
    <link href="~/Content/css/fotorama.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/logIn/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/logIn/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/logIn/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/logIn/apple-touch-icon-57-precomposed.png">
</head>
<body>
    <!-- Top content -->
    <div class="top-content">
        <div class="inner-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1 style="font-family: 'Patua One', cursive; letter-spacing:3px; font-size: 50px; color:darkred;"><strong>Texas Hold'em</strong></h1>
                        <div class="description">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3 form-box">
                        <div class="form-top">
                            <div class="form-top-left">
                                <h3>Sign Up</h3>
                                <p>Enter your informations:</p>
                            </div>
                            <div class="form-top-right">
                                <i class="fa fa-cog"></i>
                            </div>
                        </div>
                        <div class="form-bottom">
                            <form role="form" action="/LogIn/SignUp" method="post" class="login-form">
                                <div class="form-group">
                                    <input type="text" name="username" placeholder="Username" class="form-username form-control" id="form-username" value="@Model.username">
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txtNewPassword" name="password" placeholder="Password" class="form-password form-control" value="@Model.password">
                                </div>
                                <div class="myForm">
                                        <input id="txtConfirmPassword" type="password" class="form-password form-control" placeholder="Reenter new password" name="newPassword2" required="true" />
                                </div>
                                <div style="margin-top: 20px;" id="divCheckPasswordMatch" class="alert alert-danger myAlert">
                                 </div>
                                <div class="avatars">
                                    <input type="hidden" name="avatarURL" value="" id="avatar" />
                                    <div class="fotorama" data-width="700" data-ratio="700/467" data-max-width="100%" data-arrows="true" data-click="false" data-swipe="false">
                                        <img src="~/Content/images/myAvatar1.png">
                                        <img src="~/Content/images/myAvatar2.png">
                                        <img src="~/Content/images/myAvatar3.png">
                                        <img src="~/Content/images/myAvatar4.png">
                                        <img src="~/Content/images/myAvatar5.png">
                                        <img src="~/Content/images/myAvatar6.png">
                                        <img src="~/Content/images/myAvatar7.png">
                                        <img src="~/Content/images/myAvatar8.png">
                                        <img src="~/Content/images/myAvatar9.png">
                                        <img src="~/Content/images/myAvatar10.png">
                                    </div>
                                </div>

                                     
                                    <button type="submit" class="btn" id="signUpButton">Sign Up!</button>
</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Javascript -->
    
    <script src="~/Scripts/logIn/jquery-1.11.1.min.js"></script>
    <script src="~/Scripts/logIn/bootstrap.min.js"></script>
    <script src="~/Scripts/logIn/jquery.backstretch.min.js"></script>
    <script src="~/Scripts/logIn/fotorama.js"></script>
    <script src="~/Scripts/logIn/scripts.js"></script>
    <script src="~/Scripts/logIn/password.js"></script>
    <script>
        document.getElementById("signUpButton").onclick = function ()
        {
            var foto = document.getElementsByClassName("fotorama__active");
            var s = foto[0].firstElementChild.src;
            var ret = document.getElementById("avatar");
            ret.value = s;
        };
    </script>
    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->
</body>
</html>



